* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.quote_generator {
    height: 500px;
    border: 1px solid black;
    width: 800px;
    margin: 104px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}